
modules = ["python-3.11", "web"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["python3", "test/install_and_test.py"]

[languages]
[languages.python]
pattern = "**/*.py"
[languages.python.languageServer]
start = "pylsp"

[languages.php]
pattern = "**/*.php"

[workflows]

[[workflows.workflow]]
name = "Git Push"
author = 40775327
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"Update: $(date '+%Y-%m-%d %H:%M:%S')\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push origin main"

